<% if resource.errors.any? %>
  <div class="rounded-3 p-3 mb-3" style="background-color: #fff0f0; border: 1px solid #f5c2c2;">
    <p class="fw-bold small mb-1" style="color: #c0392b">
      <%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: "") %>
    </p>
    <ul class="mb-0 ps-3">
      <% resource.errors.full_messages.each do |message| %>
        <li class="small" style="color: #c0392b"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
