<div class="container">
  <h1>Connecta</h1>
  <p>Nunca mais deixe de viver algo incrível por falta de companhia.</p>

  <%= link_to "Crie sua conta", new_user_registration_path %>
  <%= link_to "Entrar", new_user_session_path %>
  <%= link_to "Saiba mais sobre o Connecta", about_path %>
</div>
